Repository lwmacct/251207-go-pkg-mcfg: changes, and which pre-commit hooks are due for each by the changed paths.
All: mc-mdtoc, build-docs, golangci-lint, config-sync

mc-mdtoc:
  name: Update markdown TOC in docs
  entry: mc-mdtoc -i
  pass_filenames: false
  language: system
  stages:
  - pre-commit

build-docs:
  name: Build VitePress docs
  entry: env CI=true NO_COLOR=1 TERM=dumb npm run build --prefix docs
  language: system
  pass_filenames: false
  stages:
  - pre-commit

golangci-lint:
  name: Run golangci-lint on new changes
  entry: golangci-lint run --new --fix
  language: system
  pass_filenames: false
  stages:
  - pre-commit

config-sync:
  name: Sync and validate config files
  entry: go test -run "TestGenerateExample|TestConfigKeysValid" ./internal/config/...
  language: system
  pass_filenames: false
  stages:
  - pre-commit

refactor: 迁移日志库至 logm 并重构配置加载
  cmd/client/main.go
  cmd/server/main.go
  go.mod
  go.sum
  internal/command/server/command.go
  internal/config/config.go
Due: golangci-lint, config-sync

chore 2025-12-21 02:42:11 CST
  cmd/client/main.go
  cmd/server/main.go
  internal/command/server/command.go
  pkg/cfgm/example.go
Due: golangci-lint

chore 2025-12-21 02:42:30 CST
  .golangci.yml
Due: none

chore 2025-12-21 02:51:36 CST
  pkg/tmpl/template_test.go
Due: golangci-lint

chore 2025-12-21 02:51:45 CST
  .golangci.yml
Due: none

chore 2025-12-21 02:55:11 CST
  .golangci.yml
  internal/command/server/command.go
Due: golangci-lint

chore 2025-12-21 02:55:19 CST
  .golangci.yml
Due: none

chore 2025-12-21 03:06:45 CST
  .golangci.yml
  internal/command/client/command.go
  internal/command/server/command.go
  pkg/cfgm/config.go
  pkg/cfgm/config_test.go
  pkg/cfgm/example.go
  pkg/cfgm/example_test.go
  pkg/tmpl/template.go
  pkg/tmpl/template_test.go
Due: golangci-lint

chore 2025-12-21 03:07:43 CST
  internal/command/client/command.go
Due: golangci-lint

fix: add default cases to satisfy exhaustive linter
  pkg/cfgm/config.go
Due: golangci-lint

test: add coverage for unsupported CLI types
  go.mod
  go.sum
  pkg/cfgm/config_test.go
Due: golangci-lint

chore 2025-12-22 02:28:24 CST
  README.md
Due: mc-mdtoc

chore 2025-12-22 02:35:52 CST
  pkg/tmpl/doc.go
  pkg/tmpl/example_test.go
  pkg/tmpl/template.go
Due: golangci-lint

refactor!: adopt Go 1.27 JSON v2
  .golangci.yml
  README.md
  go.mod
  go.sum
  pkg/cfgm/config_test.go
  pkg/cfgm/example.go
  pkg/cfgm/helpers.go
  pkg/cfgm/inline_test.go
  pkg/cfgm/manager.go
  pkg/cfgm/manager_test.go
  pkg/cfgm/sources.go
Due: mc-mdtoc, golangci-lint

refactor: consolidate examples by usage scenario
  README.md
  examples/README.md
  examples/basic/config.yaml
  examples/basic/main.go
  examples/cli/config.yaml
  examples/cli/main.go
  examples/codec/config.yaml
  examples/codec/main.go
  examples/composite/config.yaml
  examples/composite/main.go
  examples/config-files/config.yaml
  examples/config-files/main.go
  examples/config-files/main_test.go
  examples/config/config.example.yaml
  examples/config/config.yaml
  examples/config/main.go
  examples/config/main_test.go
  examples/precedence/config.yaml
  examples/precedence/main.go
  examples/templates/config.yaml
  examples/templates/main.go
  examples/validation/main.go
  examples/validation/unknown.yaml
  examples/validation/wrong-type.yaml
Due: mc-mdtoc, golangci-lint

refactor!: standardize configuration embedding
  .github/workflows/go-ci.yml
  .golangci.yml
  CHANGELOG.md
  README.md
  examples/cli/main.go
  examples/config/main.go
  examples/config/main_test.go
  examples/custom-source/main.go
  go.mod
  go.sum
  pkg/cfgm/config_test.go
  pkg/cfgm/doc.go
  pkg/cfgm/embed_test.go
  pkg/cfgm/example.go
  pkg/cfgm/example_test.go
  pkg/cfgm/helpers.go
  pkg/cfgm/inline_test.go
  pkg/cfgm/loader_test.go
  pkg/cfgm/manager.go
  pkg/cfgm/manager_test.go
Due: mc-mdtoc, golangci-lint

chore: remove obsolete Staticcheck overrides
  .golangci.yml
Due: none

Path conditions:
  mc-mdtoc: any of: \.md$
  build-docs: any of: ^docs/
  golangci-lint: any of: \.go$
  config-sync: any of: ^(internal/config/config\.go|config/config\.yaml)$
