Repository lwmacct/251207-go-pkg-mcfg: changes, and which pre-commit hooks are due for each by the changed paths.
All: mc-mdtoc, build-docs, golangci-lint, config-sync

mc-mdtoc:
  name: Update markdown TOC in docs
  entry: mc-mdtoc -i
  pass_filenames: false
  language: system
  stages:
  - pre-commit

build-docs:
  name: Build VitePress docs
  entry: env CI=true NO_COLOR=1 TERM=dumb npm run build --prefix docs
  language: system
  pass_filenames: false
  stages:
  - pre-commit

golangci-lint:
  name: Run golangci-lint on new changes
  entry: golangci-lint run --new --fix
  language: system
  pass_filenames: false
  stages:
  - pre-commit

config-sync:
  name: Sync and validate config files
  entry: go test -run "TestGenerateExample|TestConfigKeysValid" ./internal/config/...
  language: system
  pass_filenames: false
  stages:
  - pre-commit

chore 2025-12-08 01:24:15 CST
  pkg/config/example.go
Due: golangci-lint

chore 2025-12-08 01:27:19 CST
  internal/config/config.go
Due: golangci-lint, config-sync

chore 2025-12-08 01:37:05 CST
  .claude
  AGENTS.md
  README.md
  go.mod
Due: mc-mdtoc

feat(config): add doc.go, example tests and improve CLI flag support
  pkg/config/config.go
  pkg/config/doc.go
  pkg/config/example.go
  pkg/config/example_test.go
Due: golangci-lint

feat(config): add environment variable support with functional options
  README.md
  go.mod
  go.sum
  internal/command/client/command.go
  internal/command/server/command.go
  internal/config/config.go
  pkg/config/config.go
  pkg/config/doc.go
  pkg/config/example_test.go
Due: mc-mdtoc, golangci-lint, config-sync

feat(config): add env bindings and config file binding support
  README.md
  pkg/config/config.go
  pkg/config/doc.go
  pkg/config/example_test.go
Due: mc-mdtoc, golangci-lint

feat(config): add auto env binding for hyphenated koanf keys
  README.md
  go.mod
  go.sum
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/doc.go
Due: mc-mdtoc, golangci-lint

test(config): add comprehensive unit tests with testify
  go.mod
  go.sum
  pkg/config/config_test.go
Due: golangci-lint

refactor(config): simplify tests with helper functions and table-driven tests
  pkg/config/config_test.go
Due: golangci-lint

fix(config): handle error return values in test cleanup code
  pkg/config/config_test.go
  pkg/config/example_test.go
Due: golangci-lint

chore 2025-12-13 18:41:21 CST
  internal/command/client/command.go
  internal/command/server/command.go
  internal/config/config.go
Due: golangci-lint, config-sync

chore 2025-12-15 13:15:21 CST
  go.mod
  go.sum
Due: none

refactor(config): replace test helper functions with ConfigTestHelper struct
  README.md
  internal/config/config_test.go
  pkg/config/doc.go
  pkg/config/example.go
Due: mc-mdtoc, golangci-lint

chore 2025-12-15 17:40:06 CST
  internal/command/client/command.go
  internal/command/server/command.go
  internal/config/config.go
Due: golangci-lint, config-sync

chore 2025-12-15 17:40:52 CST
  .pre-commit-config.yaml
  .task/cmd.yml
Due: none

chore 2025-12-15 22:48:57 CST
  pkg/config/config_test.go
  pkg/config/example_test.go
Due: golangci-lint

chore 2025-12-15 23:19:46 CST
  internal/config/config.go
Due: golangci-lint, config-sync

chore 2025-12-15 23:55:24 CST
  pkg/config/config.go
  pkg/config/config_test.go
Due: golangci-lint

chore 2025-12-16 00:12:08 CST
  pkg/config/config.go
Due: golangci-lint

feat(config): add JSON format support and refactor YAML generation
  README.md
  go.mod
  go.sum
  internal/config/config.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/doc.go
  pkg/config/example.go
  pkg/config/example_test.go
Due: mc-mdtoc, golangci-lint, config-sync

feat(tmpl): add template expansion package with testify-based tests
  go.mod
  pkg/tmpl/example_test.go
  pkg/tmpl/template.go
  pkg/tmpl/template_test.go
Due: golangci-lint

refactor(deps): migrate yaml library to go.yaml.in/yaml/v3
  README.md
  go.mod
  pkg/config/example.go
Due: mc-mdtoc, golangci-lint

chore 2025-12-16 04:50:58 CST
  README.md
Due: mc-mdtoc

chore 2025-12-16 05:14:56 CST
  README.md
Due: mc-mdtoc

refactor(config): remove dead code and simplify functions
  internal/command/client/command.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/example.go
Due: golangci-lint

refactor(module): rename module to 251207-go-pkg-mcfg
  README.md
  cmd/client/main.go
  cmd/server/main.go
  go.mod
  internal/command/client/command.go
  internal/command/command.go
  internal/command/server/command.go
  internal/config/config.go
  internal/config/config_test.go
  pkg/config/config.go
  pkg/config/example_test.go
  pkg/tmpl/example_test.go
Due: mc-mdtoc, golangci-lint, config-sync

refactor(pkg): rename config to mcfg, improve go doc
  README.md
  internal/config/config.go
  internal/config/config_test.go
  pkg/mcfg/config.go
  pkg/mcfg/config_test.go
  pkg/mcfg/doc.go
  pkg/mcfg/example.go
  pkg/mcfg/example_test.go
  pkg/tmpl/doc.go
  pkg/tmpl/template.go
Due: mc-mdtoc, golangci-lint, config-sync

refactor(mcfg): simplify API naming and add MarshalYAML
  README.md
  go.mod
  go.sum
  internal/config/config_test.go
  pkg/mcfg/config_test.go
  pkg/mcfg/doc.go
  pkg/mcfg/example.go
  pkg/mcfg/example_test.go
Due: mc-mdtoc, golangci-lint

chore 2025-12-16 14:49:11 CST
  internal/config/config_test.go
Due: golangci-lint

fix(mcfg): handle multiline comments in ExampleYAML
  pkg/mcfg/config_test.go
  pkg/mcfg/example.go
Due: golangci-lint

chore 2025-12-16 18:05:37 CST
  internal/command/client/command.go
Due: golangci-lint

feat(mcfg): add WithAppName and LoadCmd for simpler API
  internal/config/config.go
  pkg/mcfg/config.go
  pkg/mcfg/doc.go
  pkg/mcfg/example_test.go
Due: golangci-lint, config-sync

docs(mcfg): clarify priority levels and add WithAppName section
  internal/command/client/command.go
  internal/command/server/command.go
  internal/config/config.go
  pkg/mcfg/config.go
  pkg/mcfg/doc.go
Due: golangci-lint, config-sync

chore 2025-12-16 18:40:08 CST
  internal/command/server/command.go
  internal/config/config.go
Due: golangci-lint, config-sync

feat(mcfg): add MustLoad/MustLoadCmd and modernize code
  pkg/mcfg/config.go
Due: golangci-lint

fix(mcfg): correct FindProjectRoot skip depth for MustLoad/MustLoadCmd
  pkg/mcfg/config.go
Due: golangci-lint

chore 2025-12-17 23:09:07 CST
  go.mod
  go.sum
Due: none

refactor: rename pkg/mcfg to pkg/cfgm
  README.md
  cmd/client/main.go
  cmd/server/main.go
  go.mod
  internal/command/client/command.go
  internal/command/command.go
  internal/command/server/command.go
  internal/config/config.go
  internal/config/config_test.go
  pkg/cfgm/config.go
  pkg/cfgm/config_test.go
  pkg/cfgm/doc.go
  pkg/cfgm/example.go
  pkg/cfgm/example_test.go
  pkg/tmpl/example_test.go
Due: mc-mdtoc, golangci-lint, config-sync

clear commit
  .env.example
  .gitattributes
  .github/CODE_OF_CONDUCT.md
  .github/workflows/go-ci.yml
  .gitignore
  .golangci.yml
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc
  CHANGELOG.md
  LICENSE
  README.md
  SECURITY.md
  Taskfile.yml
  cmd/client/main.go
  cmd/server/main.go
  config/.gitignore
  config/config.example.yaml
  go.mod
  go.sum
  internal/command/client/command.go
  internal/command/command.go
  internal/command/server/command.go
  internal/config/config.go
  internal/config/config_test.go
  pkg/cfgm/config.go
  pkg/cfgm/config_test.go
  pkg/cfgm/doc.go
  pkg/cfgm/example.go
  pkg/cfgm/example_test.go
  pkg/tmpl/doc.go
  pkg/tmpl/example_test.go
  pkg/tmpl/template.go
  pkg/tmpl/template_test.go
Due: mc-mdtoc, golangci-lint, config-sync

chore 2025-12-20 14:31:57 CST
  .github/workflows/go-ci.yml
Due: none

Path conditions:
  mc-mdtoc: any of: \.md$
  build-docs: any of: ^docs/
  golangci-lint: any of: \.go$
  config-sync: any of: ^(internal/config/config\.go|config/config\.yaml)$
